body {
  /* background-image: url("../img/pic.jpg"); */
  background-repeat: no-repeat;
  color: white;
  background-size: 100vw 100vh;
}

#endGameDiv {
  text-align: center;
}
#goBackButton {
  position: fixed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  width: 50%;
  top: 30%;
  left: 25%;
}
#OgoBackButton {
  position: fixed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  width: 50%;
  top: 30%;
  left: 25%;
}

#returnToLandingButton {
  position: fixed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  width: 50%;
  top: 10%;
  left: 25%;
}

#OreturnToLandingButton {
  position: fixed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  width: 50%;
  top: 10%;
  left: 25%;
}

#splash {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#yourturn {
  position: fixed;
}

#opponentTurn {
  position: fixed;
}

#landing {
  height: 100%;
  color: white;
  font-size: 40px;
  text-align: center;
}
#overwatch {
  position: fixed;
  bottom: 2%;
  left: 34%;
  font-size: 20px;
  width: 33.3%;
}
#pause {
  position: fixed;
  bottom: 2%;
  left: 6%;
  font-size: 20px;
  width: 25%;
}
#startTimer {
  position: fixed;
  bottom: 2%;
  right: 5%;
  font-size: 20px;
  width: 25%;
}
#endTurn {
  position: fixed;
  top: 2%;
  left: 5%;
  font-size: 20px;
  width: 33.3%;
}

#endGame {
  position: fixed;
  top: 2%;
  right: 5%;
  font-size: 20px;
  width: 33.3%;
}

#Ooverwatch {
  position: fixed;
  bottom: 2%;
  left: 34%;
  font-size: 20px;
  width: 33.3%;
}
#Opause {
  position: fixed;
  bottom: 2%;
  left: 6%;
  font-size: 20px;
  width: 25%;
}
#OstartTimer {
  position: fixed;
  bottom: 2%;
  right: 5%;
  font-size: 20px;
  width: 25%;
}
#OendTurn {
  position: fixed;
  top: 2%;
  left: 5%;
  font-size: 20px;
  width: 33.3%;
}

#OendGame {
  position: fixed;
  top: 2%;
  right: 5%;
  font-size: 20px;
  width: 33.3%;
}

#counterDiv {
  position: fixed;
  left: 33.3%;
  top: 10%;
  color: white;
}
#timerDiv {
  height: 80px;
  font-size: 80px;
  text-align: center;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
#OtimerDiv {
  height: 80px;
  font-size: 80px;
  text-align: center;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 46%;
  margin-top: -50px;
  margin-left: -100px;
}

#OtimerCount {
  color: red;
}


#initialSetup {
  position: fixed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  width: 50%;
  top: 70%;
  left: 25%;
}
#startButton {
  position: fixed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  width: 50%;
  top: 80%;
  left: 25%;
}
#showSettingsButton {
  position: fixed;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  width: 40%;
  height: 35px;
  top: 90%;
  left: 30%;
}
#support {
  position: fixed;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  width: 40%;
  height: 35px;
  top: 92%;
  left: 30%;
}
#returnbutton {
  position: fixed;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  width: 40%;
  height: 35px;
  top: 92%;
  left: 30%;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* ----------------------------------------------------- */

/* plus and minus button styling  ------------------------  */
.cpCounter {
  width: 45px;
  height: 45px;
  border-radius: 0px !important;
  text-align: center;
}
.vpCounter {
  width: 45px;
  height: 45px;
  border-radius: 0px !important;
  text-align: center;
}
.OcpCounter {
  width: 45px;
  height: 45px;
  border-radius: 0px !important;
  text-align: center;
}
.OvpCounter {
  width: 45px;
  height: 45px;
  border-radius: 0px !important;
  text-align: center;
}
#vp {
  position: fixed;
  top: 19%;
  right: 6%;
  font-weight: bold;
}
#cp {
  position: fixed;
  top: 19%;
  left: 6%;
  font-weight: bold;
}
#VPPlus {
  position: fixed;
  top: 10%;
  right: 17%;
  height: 45px;
}
#CPPlus {
  position: fixed;
  top: 10%;
  left: 17%;
}
#VPMinus {
  position: fixed;
  top: 18%;
  right: 17%;
  height: 45px;
}
#CPMinus {
  position: fixed;
  top: 18%;
  left: 17%;
}
#vpNumBox {
  position: fixed;
  top: 12%;
  right: 2%;
}
#cpNumBox {
  position: fixed;
  top: 12%;
  left: 2%;
}
/* ------------------SETTINGS PAGE STUFF---------------------------------- */
/* dont waste your time or time will waste you */
#timeHHMM {
  height: 45px;
}

/* ---------------------------- cool loader css ----------------------------- */

.wrapper {
  position: absolute;
  width: 50%;
  height: 2px;
  left: 0;
  right: 0;
  top: 15%;
  margin: auto;
}

.loader {
  height: 100%;
  display: flex;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.loader div {
  flex: 1;
  background: salmon;
  -webkit-animation: go 0.8s infinite alternate ease;
  animation: go 0.8s infinite alternate ease;
  box-shadow: 0 0 20px salmon;
}
.loader div:nth-child(1) {
  -webkit-animation-delay: -0.72s;
  animation-delay: -0.72s;
}
.loader div:nth-child(2) {
  -webkit-animation-delay: -0.64s;
  animation-delay: -0.64s;
}
.loader div:nth-child(3) {
  -webkit-animation-delay: -0.56s;
  animation-delay: -0.56s;
}
.loader div:nth-child(4) {
  -webkit-animation-delay: -0.48s;
  animation-delay: -0.48s;
}
.loader div:nth-child(5) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.loader div:nth-child(6) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader div:nth-child(7) {
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s;
}
.loader div:nth-child(8) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader div:nth-child(9) {
  -webkit-animation-delay: -0.08s;
  animation-delay: -0.08s;
}
.loader div:nth-child(10) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}

@keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}

html,
body {
  height: 100%;
}
body {
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}
p {
  margin: 0;
  padding: 0;
}
